<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiend.student_server.mapper.TeacherMapper">
    <select id="findAll" resultType="Teacher">
        SELECT * FROM studentms.Teacher;
    </select>

    <select id="findBySearch" resultType="Teacher">
        SELECT * FROM studentms.Teacher
        <where>
            <if test="tid != null">
                tid = #{tid}
            </if>
            <if test="tname != null">
                <if test="fuzzy == 0">
                    AND tname = #{tname}
                </if>
                <if test="fuzzy == 1">
                    AND tname LIKE CONCAT('%', #{tname}, '%')
                </if>
            </if>
        </where>
    </select>

    <select id="findById" resultType="Teacher">
        SELECT * FROM studentms.Teacher WHERE tid = #{tid};
    </select>

    <update id="updateById1">
        UPDATE studentms.Teacher SET
                                     tname = #{teacher.tname},
                                     password = #{teacher.password},
                                     email = #{teacher.email}, -- 新增邮箱字段
                                     phone = #{teacher.phone}  -- 新增手机字段
        WHERE tid = #{teacher.tid};
    </update>

    <insert id="save">
        INSERT INTO studentms.Teacher (tname, password, email, phone) VALUES (#{teacher.tname}, #{teacher.password}, #{teacher.email}, #{teacher.phone});
    </insert>


    <delete id="deleteById">
        DELETE FROM studentms.Teacher WHERE tid = #{tid}
    </delete>
</mapper>
